{"Miles Kane" #{"Arctic Monkeys"}, "Dizzee Rascal" #{"Arctic Monkeys"}, "Alex Turner" #{"Arctic Monkeys"}, "Richard Hawley" #{"Arctic Monkeys"}, "Arctic Monkeys" #{"Dizzee Rascal" "Richard Hawley" "Alex Turner" "Miles Kane"}, "Spinelli" #{"Rock Genius"}, "Rock Genius" #{"Spinelli"}}